<%= form_with(url: students_path, method: :get, local: true, class: "form-inline") do |form| %>
    <div>
      <%= form.label :major, "Select Major", class: "form-label" %>
      <%= form.select :major, options_for_select(Student::VALID_MAJORS), { prompt: "Any Major" }, name: 'search[major]', 
   class: "form-control" %>
    </div>

    <div class="form-group d-flex align-items-center mb-2">
    <%= form.label :date_filter, "Before/After", class: "form-label mt-2 me-2", aria: { describedby: "date-filter-description" } %>
    <%= form.select "search[date_filter]", options_for_select([['Before', 'before'], ['After', 'after']], @search_params[:date_filter]), { prompt: "Before/After" }, class: "form-control", aria: { label: "Select before or after" } %>
    <%= form.label :graduation_date, "Graduation", class: "form-label ms-2 mt-2 me-2", aria: { describedby: "graduation-date-description" } %>
    <%= form.date_field "search[graduation_date]", value: @search_params[:graduation_date], class: "form-control", aria: { label: "Enter graduation date" } %>
    </div>
    
    <div>
      <%= form.submit "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
    