<div id="<%= dom_id student %>">

<p>
   <% if student.profile_picture.attached? %>
     <%= image_tag student.profile_picture.variant(resize_to_limit: [150, nil])%>
   <% else %>
     <%= image_tag 'default-profile-picture.jpg', size: "150x150" %>
   <% end %>
</p>
  
<p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>


  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Minor:</strong>
    <%= student.minor %>
  </p>

  <p>
    <strong>Graduation date:</strong>
    <%= student.graduation_date %>
  </p>

</div>
