<p style="color: green"><%= notice %></p>

<h1>Students</h1>
<%= render 'search_form', search_params: @search_params %>

<div id="students">
  <% if @students.empty? %>
    <% if @search_params.empty? %>
      <p class="text-center">Search for students to display</p>
    <% else %>
      <p class="text-center">No students found</p>
    <% end %>
  <% else %>
    <h1>Students</h1>
    <% @students.each do |student| %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student %>
      </p>
    <% end %>
  <% end %>

  <%= link_to "Show All", students_path(search: { major: "" }), class: "btn btn-primary" %>
</div>

<%= link_to "New student", new_student_path %>